:root {
  --ion-color-assertive: #ef473a;
  --ion-color-assertive-rgb: 239,71,58;
  --ion-color-assertive-contrast: #ffffff;
  --ion-color-assertive-contrast-rgb: 255,255,255;
  --ion-color-assertive-shade: #d23e33;
  --ion-color-assertive-tint: #f1594e;

  --ion-color-energized: #ffc900;
  --ion-color-energized-rgb: 255,201,0;
  --ion-color-energized-contrast: #000000;
  --ion-color-energized-contrast-rgb: 0,0,0;
  --ion-color-energized-shade: #e0b100;
  --ion-color-energized-tint: #ffce1a;

  --ion-color-lightdark: #444444;
  --ion-color-lightdark-rgb: 68,68,68;
  --ion-color-lightdark-contrast: #ffffff;
  --ion-color-lightdark-contrast-rgb: 255,255,255;
  --ion-color-lightdark-shade: #3c3c3c;
  --ion-color-lightdark-tint: #575757;

  --ion-color-positive: #387ef5;
  --ion-color-positive-rgb: 56,126,245;
  --ion-color-positive-contrast: #ffffff;
  --ion-color-positive-contrast-rgb: 255,255,255;
  --ion-color-positive-shade: #316fd8;
  --ion-color-positive-tint: #4c8bf6;

  --ion-color-royal: #886aea;
  --ion-color-royal-rgb: 136,106,234;
  --ion-color-royal-contrast: #ffffff;
  --ion-color-royal-contrast-rgb: 255,255,255;
  --ion-color-royal-shade: #785dce;
  --ion-color-royal-tint: #9479ec;


}
.ion-color-assertive {
  --ion-color-base: var(--ion-color-assertive);
  --ion-color-base-rgb: var(--ion-color-assertive-rgb);
  --ion-color-contrast: var(--ion-color-assertive-contrast);
  --ion-color-contrast-rgb: var(--ion-color-assertive-contrast-rgb);
  --ion-color-shade: var(--ion-color-assertive-shade);
  --ion-color-tint: var(--ion-color-assertive-tint);
}
.ion-color-energized {
  --ion-color-base: var(--ion-color-energized);
  --ion-color-base-rgb: var(--ion-color-energized-rgb);
  --ion-color-contrast: var(--ion-color-energized-contrast);
  --ion-color-contrast-rgb: var(--ion-color-energized-contrast-rgb);
  --ion-color-shade: var(--ion-color-energized-shade);
  --ion-color-tint: var(--ion-color-energized-tint);
}

.ion-color-lightdark {
  --ion-color-base: var(--ion-color-lightdark);
  --ion-color-base-rgb: var(--ion-color-lightdark-rgb);
  --ion-color-contrast: var(--ion-color-lightdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightdark-shade);
  --ion-color-tint: var(--ion-color-lightdark-tint);
}

.ion-color-positive {
  --ion-color-base: var(--ion-color-positive);
  --ion-color-base-rgb: var(--ion-color-positive-rgb);
  --ion-color-contrast: var(--ion-color-positive-contrast);
  --ion-color-contrast-rgb: var(--ion-color-positive-contrast-rgb);
  --ion-color-shade: var(--ion-color-positive-shade);
  --ion-color-tint: var(--ion-color-positive-tint);
}

.ion-color-royal {
  --ion-color-base: var(--ion-color-royal);
  --ion-color-base-rgb: var(--ion-color-royal-rgb);
  --ion-color-contrast: var(--ion-color-royal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-royal-contrast-rgb);
  --ion-color-shade: var(--ion-color-royal-shade);
  --ion-color-tint: var(--ion-color-royal-tint);
}
