ion-content {
  --background: #303f9f !important;
}
ion-header {
  background: #303f9f;
}
.header-card {
  .header-card-title {
    font-weight: bold;
  }
  .header-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-img {
      width: 30%;
    }
    .header-card-content-saldo {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      .header-card-content-saldo-title {
        font-size: 1.3em;
        color: #000000;
      }
      .header-card-content-saldo-valor {
        margin: 0;
        color: black;
        font-size: 30px;
      }
    }
  }
}

.saldo-list {
  margin-top: 1em;
  .saldo-item {
    .saldo-item-label {
      .saldo-item-label-title {
        font-weight: bold;
      }
      .saldo-item-label-subtitle {
        letter-spacing: 1px;
      }
    }
  }
}
