<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Saldos</ion-title>
  </ion-toolbar>
  <ion-card class="header-card" *ngIf="saldoContaList.length > 0">
   <ion-card-header>
     <ion-card-title class="ion-text-center header-card-title">Contas de {{dataSrv.LoggedUserData.nome}}</ion-card-title>
   </ion-card-header>
   <ion-card-content class="header-card-content">
     <ion-img src="assets\saldo.png"></ion-img>
     <div class="header-card-content-saldo">
       <span class="header-card-content-saldo-title"> Saldo até {{dataSrv.dataFim |date:'dd/MM/yyyy'}} </span>
       <span class="header-card-content-saldo-valor"
         >{{saldoHeader.saldo | currency:'BRL' }}</span
       >
     </div>
   </ion-card-content>
  </ion-card>
</ion-header>

<ion-content>
  <ion-list class="saldo-list">
    <ion-item class="saldo-item" *ngFor="let item of saldoContaList">
      <ion-label class="saldo-item-label">
        <h2 class="saldo-item-label-title">{{item.descricao.toUpperCase()}}</h2>
        <span class="saldo-item-label-subtitle">{{item.saldo  | currency:'BRL' }}</span>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
