<!-- <div *ngIf="showLoad" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <app-loader></app-loader>
</div> -->
<div class="bottom-sheet-holder" [@fadeInUpOnEnter]>
  <img src="/assets/excel.png" alt="" srcset="" />
  <a mat-raised-button [href]="downloadUrl" (click)="close()">
    <span mat-line>Cliqur aqui para baixar seu arquivo</span>
  </a>
</div>
