.loader {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-sheet-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 20em;
  max-width: 25em;
  img{
    width: 40%;
  }
  a{
    color: #ffffff;
    background-color: #1f6e43;
  }
}

::ng-deep .mat-bottom-sheet-container {
  min-width: 384px !important;
  max-width: calc(100vw - 128px) !important;
}
