<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title class="header-title-container">
      <div class="header-title-text">Fundação Padre Leonel Franca</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [@fadeInUpOnEnter]>
  <div class="dashboard-container">
    <ion-button
      class="extrato-btn"
      color="positive"
      expand="block"
      (click)="goToListProj()"
    >
      <ion-icon slot="start" name="logo-usd"></ion-icon>
      Extratos
    </ion-button>
    <ion-button
      class="saldo-btn"
      color="assertive"
      expand="block"
      (click)="gotToSaldoContas()"
    >
      <ion-icon slot="start" name="git-network"></ion-icon>
      Saldo das Contas
    </ion-button>

    <ion-img src="assets\fplf-logo.jpg"></ion-img>

    <div class="date-container">
      <div class="date-holder">
        <span class="title"> De </span>
        <ion-datetime
          #startPicker
          class="start date"
          color="royal"
          placeholder="Data Inicial"
          (ionChange)="setDate(startPicker, 0)"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
        ></ion-datetime>
      </div>

      <div class="date-holder">
        <span class="title"> Até </span>
        <ion-datetime
          #endPicker
          class="end date"
          color="light"
          placeholder="Data Final"
          (ionChange)="setDate(endPicker, 1)"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
        ></ion-datetime>
      </div>
    </div>
    <div>
      <ion-button
        color="lightdark"
        expand="full"
        fill="solid"
        (click)="logOut()"
      >
        Sair
      </ion-button>
    </div>
  </div>
</ion-content>
