#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header {
  .header-title-container {
    .header-title-text {
      white-space: normal;
      text-align: center;
    }
  }
}

ion-content {
  --background: #000033;
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 10px);
    .extrato-btn {
      margin: 3em 0;
    }
    .saldo-btn {
    }
    ion-img {
      width: 70%;
      margin: auto;
    }
    .date-container {
      display: flex;
      justify-content: space-around;
      .date-holder{
        text-align: center;
        .title{
          color: #886aea;
           font-weight: bold
        }
        .date{
          padding: 8px 10px;
          border-radius: 5px;
          min-width: 8em;
          text-align: center;
         &.start {
            color: var(--ion-color-royal-contrast);
            background: var(--ion-color-royal);
  
          }
          &.end {
            color: var(--ion-color-light-contrast);
            background: var(--ion-color-light);
  
          }
        }
      }
    }
  }
}

/*
background-color: #000033;
background-size: 100%;
width: 100%;
height: 100%;
margin: auto;
z-index: 2; */
