<div class="login-card-holder">
  <mat-card class="login-card">
    <mat-card-header class="login-card-header">
      <mat-card-title class="login-card-header-title"
        >Controle de Projetos</mat-card-title
      >
      <mat-card-subtitle class="login-card-header-subtitle"
        >Acesso</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="login-card-content">
      <form
        class="login-card-content-form"
        (ngSubmit)="onLogin()"
        #loginForm="ngForm"
        id="loginForm"
      >
        <mat-form-field
          class="login-card-content-form-username"
          appearance="outline"
        >
          <mat-label>Usuario</mat-label>
          <input
            matInput
            [(ngModel)]="LoginObj.username"
            type="text"
            name="username"
            required
          />
        </mat-form-field>
        <mat-form-field
          class="login-card-content-form-password"
          appearance="outline"
        >
          <mat-label>Senha</mat-label>
          <input
            matInput
            [(ngModel)]="LoginObj.password"
            type="password"
            name="password"
            required
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="login-card-button-holder">
      <button
        class="login-card-button"
        mat-raised-button
        type="submit"
        color="primary"
        form="loginForm"
        [disabled]="!loginForm.valid"
      >
        Entrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
