.login-card-holder {
  width: 100%;
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  .login-card {
    padding: 0;
    width: 40%;
    .login-card-header {
      padding: 1em;
      background-color: #3f51b5;
      display: flex;
      justify-content: center;
      .login-card-header-title {
        color: #d2d2d2;
      }
      .login-card-header-subtitle {
        text-align: center;
        color: gold;
        font-size: 1.4em;
      }
    }
    .login-card-content {
      margin: 0;
      .login-card-content-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        .login-card-content-form-username {
          width: 90%;
        }
        .login-card-content-form-password {
          width: 90%;
        }
      }
    }
    .login-card-button-holder {
      padding: 1.5em;
      .login-card-button {
        width: 100%;
      }
    }
  }
}
