

 <app-header *ngIf="dataSrv.showHeader"></app-header>
<router-outlet></router-outlet>
 -
<!-- <div class="purpleish-theme">
  <div class="mat-app-background">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div> -->
