            <div ng-controller="ProjetosListaCtrl">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h4>
                            <span>
                                <center>Seus Projetos.</center>
                            </span>
                        </h4>
                    </div>
                </md-toolbar>

                <md-divider ></md-divider>
                <div id="mydiv" style="height:450px; width:100%; overflow-y: scroll;overflow-x: hidden;">
                    <md-list ng-cloak >
                        <md-list-item ng-repeat="p in projetos" ng-click="exibirExtrato(0)" class="md-clickable">
                            <p>{{ p.projeto }}</p>
                            <md-icon class="md-secondary" ng-click="exibirExtrato(0)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
                        </md-list-item>
                    </md-list>
                </div>
            </div>