<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card> -->
<h1 mat-dialog-title color="primary">Hi</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(editUserForm)" #editUserForm="ngForm" id="editUserForm">
    <div class="p-grid">
      <div class="p-col-12">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Nome</mat-label>
          <input name="userObjNome" matInput [(ngModel)]="userObj.nome" required/>
        </mat-form-field>
      </div>
      <div class="p-col-12">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email</mat-label>
          <input name="userObjEmail" matInput [(ngModel)]="userObj.email" email required/>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="dialog.close()">
    Cancelar
  </button>
  <button mat-raised-button color="primary" form="editUserForm" [disabled]="! editUserForm.valid">Salvar</button>
</div>
<!-- (click)="editUserForm.ngSubmit.emit()" -->
