<!--  -->
<ion-content>
  <div class="load-holder" [@fadeOutUpOnLeave] *ngIf="loginSrv.showLoad">
    <div class="spinner"></div>
  </div>
  <ion-img src="assets\fplf-logo.jpg"></ion-img>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <ion-item>
    <ion-label position="floating">Usuário</ion-label>
    <ion-input [(ngModel)]="loginObj.username" name="Usuario" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="loginObj.password" name="Senha" type="password"></ion-input>
  </ion-item>
  <ion-button color="secondary" type="submit" expand="block">
    Acessar
  </ion-button>
</form>
</ion-content>
