.totalConta-holder {
  padding: 0;
  margin: 2em;
  .totalConta-header {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 2em;
  }
  .totalConta-content {
  }
  .totalConta-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    button {
      font-size: 1.2em;
      width: 30%;
      color: #ffffff;
      &.totalConta-voltar-btn {
        background-color: #f44336;
        .icon {
        }
      }
      &.totalConta-excel-btn {
        background-color: #1f6e43;
        .icon {
        }
      }
    }
  }
}
