<mat-card class="totalConta-holder" [@zoomInDownOnEnter]>
  <mat-card-header class="totalConta-header">
    <mat-card-title>
      {{ formatTitle }}
     <span style="font-style: italic;">
       {{saldo | currency:'BRL'}}
     </span>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content class="totalConta-content">
    <app-grid
      [gridData]="totalContaList"
      [columnDefs]="createColumnDefs"
      autoResize="true"
    ></app-grid>
  </mat-card-content>
  <mat-card-actions class="totalConta-footer">
    <button mat-raised-button class="totalConta-voltar-btn" (click)="voltar()">
      <i class="icon fas fa-arrow-left"></i>
      Voltar
    </button>
    <button mat-raised-button class="totalConta-excel-btn" (click)="gerarExcel()">
      <i class="icon fas fa-file-excel"></i>
      Gerar Excel
    </button>
  </mat-card-actions>
</mat-card>
