ion-content {
  --background: #303f9f !important;
}

.header-card {
  .header-card-title {
    font-weight: bold;
  }
  .header-card-content {
    display: flex;
    justify-content: space-between;
    ion-img {
      width: 30%;
    }
    .header-card-content-saldo {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      .header-card-content-saldo-title {
      }
      .header-card-content-saldo-valor {
        margin: 0;
        color: black;
        font-size: 30px;
      }
    }
  }
}

.extrato-card {
  &.despesa {
    --background: #cf3c4f;
  }
  &.receita {
    --background: #2dd36f;
  }
  .extrato-card-header {
    .extrato-card-header-title {
      --color: #ffffff;
    }
    .extrato-card-header-subtitle {
      --color: #ffffff;
      font-size: 1.13em;
    }
  }
  .extrato-card-content {
    .extrato-card-content-valor {
      color: #ffffff;
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}
