<ion-header style="
background: #303f9f;
">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Extratos</ion-title>
  </ion-toolbar>
  <ion-card class="header-card" *ngIf="extratoList.length > 0">
    <ion-card-header>
      <ion-card-title class="ion-text-center header-card-title">{{saldo.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="header-card-content">
      <ion-img src="assets\saldo.png"></ion-img>
      <div class="header-card-content-saldo">
        <span class="header-card-content-saldo-title"> Saldo Atual </span>
        <span class="header-card-content-saldo-valor"
          >{{saldo.saldo | currency:'BRL' }}</span
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-header>
<ion-content>

  <ion-list style="background: transparent">
    <div *ngFor="let item of extratoList; let i = index">
      <ion-card
        *ngIf="i !== 0"
        class="extrato-card"
        [class.receita]="item.receita !== 0"
        [class.despesa]="item.despesa !== 0"
      >
        <ion-card-header class="extrato-card-header">
          <ion-card-title class="extrato-card-header-title">
            {{item.texto}}
          </ion-card-title>
          <ion-card-subtitle class="extrato-card-header-subtitle">
            {{item.data | date:'dd/MM/yyyy'}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="extrato-card-content">
          <h2 class="extrato-card-content-valor">{{item.valor}}</h2>

<!--           Despesa{{item.despesa}} Receita{{item.receita}} -->
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
