.grid-holder {
/*   position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  display: flex;
    align-items: center;
    padding: 0em 10em;
    justify-content: center;
    height: calc(100vh - 85px);
  .card-holder {
    display: flex;
    justify-content: center;
    .card-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img-holder {
        img {
          width: 5em;
        }
      }
      .title {
        color: #ffffff;
        text-align: center;
      }
    }
  }
}
::ng-deep .datePicker-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  .datePicker-title {
    color: #ffffff;
  }
  .datePicker-container {
    .datePicker {
      padding: 0 1em;
      mat-form-field{
        background-color: #d2d2d2;
        width: 100%;
        input{
          font-size: 1.5em !important;
        }
        .mat-form-field-wrapper {
          padding: 0 !important;
        }
      }
    }
  }
}


.test{
  color: #fff;
}
