<div class="grid-holder" [@bounceInUpOnEnter]>
  <div class="p-grid card-holder">
    <div class="p-col-12" style="
    text-align: center;
    color: #fff;
">
      <h2>Seja bem vindo {{dataSrv.LoggedUserData.nome}}</h2>
    </div>
    <div class="p-md-5 p-col-12" *ngFor="let item of arrButtons">
      <mat-card
        class="card-button"
        [style.backgroundColor]="item.cor"
        matRipple
        (click)="switchEvent(item.key)"
      >
        <mat-card-content class="img-holder">
          <img [src]="item.icone" />
        </mat-card-content>
        <mat-card-header class="title">
          <mat-card-title>{{ item.nome }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="p-col-12">
      <div class="datePicker-holder">
        <h2 class="datePicker-title">Selecione o período</h2>
        <div class="p-grid datePicker-container">
          <div class="p-md-5 p-col-12 datePicker">
            <mat-form-field
              class="example-full-width"
              appearance="outline"
              color="primary"
            >
              <mat-label>Escolha a data de inicio</mat-label>
              <input
                matInput
                [matDatepicker]="startDate"
                [(ngModel)]="dataSrv.dataInicio"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDate"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="p-md-5 p-col-12 datePicker">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Escolha a data de fim</mat-label>
              <input matInput [matDatepicker]="finalDate" [(ngModel)]="dataSrv.dataFim"/>
              <mat-datepicker-toggle
                matSuffix
                [for]="finalDate"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi #finalDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-12" style="text-align: center;">
      <button mat-raised-button (click)="sair()" color="warn" style="width: 30%;">Sair</button>
    </div>
  </div>
</div>
