 <mat-toolbar mat-dialog-title color="primary" style="background-color: #3f51b5;">
  <h2>Projetos</h2>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item
    *ngFor="let item of projList; let isOdd = odd; let isEven = even"
    [class.odd]="isOdd"
    [class.even]="isEven"
    matRipple
      (click)="onProjSelection(item)"
      >{{ item.projeto }}</mat-list-item
    >
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>



<!-- <mat-card color="primary">
  <mat-card-header mat-dialog-title>
    <mat-toolbar mat-dialog-title color="primary">
      <mat-card-title>Projetos</mat-card-title>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let item of projList; let isOdd = odd; let isEven = even"
        (click)="onProjSelection(item)"
        [class.odd]="isOdd"
        [class.even]="isEven"
        >{{ item.projeto }}</mat-list-item
      >
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Voltar</button>
  </mat-card-actions>
</mat-card>
 -->
