.even {
  background-color: #E5E5FF;
}
/* ::ng-deep mat-dialog-container{
  padding: 0 !important;
} */
mat-list{
  overflow-y: auto;
      height: 30em;
}
button{
    width: 100%;
}
 /* width */
 ::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}
