<md-dialog aria-label="List dialog">
  <md-dialog-content>hfghdgh
    <h2 class="md-title">
      Set a description for the new thing
    </h2>
    <form name="projectForm">
      <md-input-container>
        <label>Description</label>
        <input md-maxlength="30" required name="description" ng-model="newThing">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="closeDialog()" class="md-primary">
      Cancel
    </md-button>
    <md-button ng-click="addThing()" class="md-primary">
      Save
    </md-button>
  </div>
</md-dialog>
