
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"  md-component-id="left" style="overflow: hidden;">
      <div ng-include="'app/projetosLista/projetosLista.html'" autoscroll="false" ></div>
    </md-sidenav>

    <div ng-controller="ShellCtrl" class="main-shell">

      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
          </md-button>
          <h2>
            <span>
              Fundação Padre Leonel Franca - <b>Controle de Projetos</b>
            </span>
          </h2>
          <span flex=""></span>
          <md-menu>

        <md-button class="md-fab md-raised md-hue-2" aria-label="Define o período para o relatório">
          <md-icon md-svg-src="assets/icons/dateRange.svg"></md-icon>
        </md-button>


            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
              <md-icon class="md-icon" style="height: 32px; width: 32px;" md-menu-origin md-svg-src="assets/icons/Person.svg"></md-icon>
            </md-button>            
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="showAddDialog($event)">
                  <md-icon md-svg-icon="content:add" md-menu-align-target></md-icon>
                  Seu Perfil
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="redial($event)">
                  <md-icon md-svg-icon="communication:dialpad" md-menu-align-target></md-icon>
                  Trocar Senha
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button disabled="disabled" ng-click="checkVoicemail()">
                  <md-icon md-svg-icon="communication:voicemail"></md-icon>
                  Desconectar
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
    </div>