/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~typeface-exo/index.css";
@import "~sweetalert2/dist/sweetalert2.css";

@import "./scss/primeFlex";
@import "./scss/materialTheme";
@import "~@angular/material/theming";
@import "./scss/nebular-gradiente-hero";
/*
html,
body {
  height: 100%;
} */
body {
  margin: 0;
  font-family: "Exo", sans-serif !important;
  background-image: url("./assets/background.jpg");
}

.onSucessToast {
  color: #5a5a5a !important;
}
.onErrorToast {
  color: #fff !important;
}

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}
