<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Projetos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
    *ngFor="let proj of projList;
    let isOdd=odd;
    let isEven=even"
      [class.odd]="isOdd"
      [class.even]="isEven"
      (click)="selectedProj(proj)"
    >
      <ion-label>{{proj.projeto}}</ion-label>
      <span>{{proj.codigo}}</span>
    </ion-item>
  </ion-list>
</ion-content>
