.header {
  background-color: #3f51b5;
  .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    .primary-title {
    }
    .secondary-title {
      font-size: 0.6em;
    }
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .android-btn{
    color:greenyellow
  }
}

