<mat-toolbar color="primary" class="header">
  <div class="title">
    <span class="primary-title">
      Fundação Padre Leonel Franca - <b>Controle de Projetos</b>
    </span>
    <span class="secondary-title"> (v6 - 21/09/2020) </span>
  </div>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    class="example-icon android-btn"
    href="http://139.82.24.10/ExtratoWeb/extratoAPK/extrato.apk"
    aria-label="btn de download do app Mobile simbolizado com o icone Android"
  >
    <mat-icon>android</mat-icon>
  </a>
<!--   <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
