<mat-card class="saldoConta-holder" [@zoomInDownOnEnter]>
  <mat-card-header class="saldoConta-header">
    <mat-card-title class="saldoConta-header-title">
      {{ formatTitle }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="saldoConta-content">
    <mat-form-field appearance="outline" color="accent" class="saldoConta-header-select">
      <mat-label>Selecione uma conta</mat-label>
      <mat-select
        [(ngModel)]="contaSelecionada"
        (ngModelChange)="showContaDetails()"

      >
        <mat-option [value]="conta" *ngFor="let conta of saldoContaList">
          {{ conta.descricao }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <app-grid
      [gridData]="contaDetailsList"
      [columnDefs]="createColumnDefs"
      autoResize="true"
    ></app-grid>
  </mat-card-content>
  <mat-card-actions class="saldoConta-footer">
    <button mat-raised-button class="saldoConta-voltar-btn" (click)="voltar()">
      <i class="icon fas fa-arrow-left"></i>
      Voltar
    </button>
    <button
      mat-raised-button
      class="saldoConta-excel-btn"
      (click)="gerarExcel()"
    >
      <i class="icon fas fa-file-excel"></i>
      Gerar Excel
    </button>
  </mat-card-actions>
</mat-card>
