.saldoConta-holder {
  padding: 0;
  margin: 1.2em;
  .saldoConta-header {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .saldoConta-header-title {
    }
  }
  .saldoConta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .saldoConta-header-select {
      color: White;
      width: 50%;
    }
    app-grid {
      width: 100%;
    }
  }
  .saldoConta-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    button {
      font-size: 1.2em;
      width: 30%;
      color: #ffffff;
      &.saldoConta-voltar-btn {
        background-color: #f44336;
        .icon {
        }
      }
      &.saldoConta-excel-btn {
        background-color: #1f6e43;
        .icon {
        }
      }
    }
  }
}
/*
::ng-deep.mat-select-value-text {
  color: white !important;
}
 */
