<div ng-include="'components/shell/shell.html'"></div>

<md-grid-list class="things-list" md-cols-sm="1" md-cols-md="8" md-cols-gt-md="5"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px">

	<!-- 	<md-grid-tile md-rowspan="2" ng-class="getColor(6)">
	<md-grid-tile-header>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Icon">
				<md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
			</md-button>
			<h3>Extrato de projetos</h3>
		</div>
	</md-grid-tile-header>

</md-grid-tile>
-->
<md-grid-tile ng-class="getColor(4)" md-rowspan="2" md-colspan="1">
	<md-grid-tile-header>
		<h3>Seus projetos</h3>
	</md-grid-tile-header>
	<div layout="column" layout-fill flex>
		<div ng-include="'app/projetosLista/projetosLista.html'" autoscroll="false" ></div>
	</div>
</md-grid-tile>
<md-grid-tile ng-class="getColor(2)" md-colspan="3"
                  md-colspan-sm="1"  md-rowspan="2">
	<md-grid-tile-header>
		<h3>Extrato selecionado</h3>
	</md-grid-tile-header>
	<div layout="column" layout-fill flex>
		<div ng-include="getUrl()" autoscroll="false" ></div>
	</div>
	<md-grid-tile-footer>
		<h3>Últimos 15 dias</h3>
	</md-grid-tile-footer>
</md-grid-tile>
<md-grid-tile ng-class="getColor(1)" md-colspan="1" md-rowspan="2">
	<md-grid-tile-header>
		<h3>Extrato por contas</h3>
	</md-grid-tile-header>
	<br>
	<div layout="column" layout-fill flex>
		<div ng-include="'app/contas/contas.html'"></div>
	</div>
</md-grid-tile>

</md-grid-list>