.extrato-holder {
  padding: 0;
  margin: 2em;
  .extrato-header {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 2em;
  }
  .extrato-content {
  }
  .extrato-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    button {
      font-size: 1.2em;
      width: 30%;
      color: #ffffff;
      &.extrato-voltar-btn {
        background-color: #f44336;
        .icon {
        }
      }
      &.extrato-excel-btn {
        background-color: #1f6e43;
        .icon {
        }
      }
    }
  }
}

 /* width */
 ::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}
