<mat-card class="extrato-holder" [@zoomInDownOnEnter]>
  <mat-card-header class="extrato-header">
    <mat-card-title>
      {{ formatTitle }}
    </mat-card-title>

  </mat-card-header>
  <mat-card-content class="extrato-content">
    <app-grid
      [gridData]="extratoList"
      [columnDefs]="createColumnDefs"
      autoResize="true"
    ></app-grid>
  </mat-card-content>
  <mat-card-actions class="extrato-footer">
    <button mat-raised-button class="extrato-voltar-btn" (click)="voltar()">
      <i class="icon fas fa-arrow-left"></i>
      Voltar
    </button>
    <button mat-raised-button class="extrato-excel-btn" (click)="gerarExcel()">
      <i class="icon fas fa-file-excel"></i>
      Gerar Excel
    </button>
  </mat-card-actions>
</mat-card>

<!-- (GridSelectedRow)="onGridSelectedRow($event)"
            [filtro]="filtro"
          (GridDobleClick)="onGridDobleClick($event)" -->
